<a class="back"><i-feather name="chevron-left"></i-feather>  back</a>
<div style="overflow-x:auto;" class="shadow-sm mt-3">
    <table>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Published</th>
        <th>ID number</th>
        <th>Company ID</th>
        <th>Roster</th>
        <th>Company</th>
      </tr>
      <tr>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
      </tr>
      <tr>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
      </tr>
    </table>
  </div>
