<a class="back"><i-feather name="chevron-left"></i-feather>  back</a>
<div style="overflow-x:auto;" class="shadow-sm mt-3">
    <table>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Published</th>
        <th>ID number</th>
        <th>Company ID</th>
        <th>Roster</th>
        <th>Company</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user?.id}}</td>
        <td>{{user?.firstname}}</td>
        <td>{{user?.lastname}}</td>
        <td>{{user?.username}}</td>
        <td>{{user?.role}}</td>
        <td>{{user?.published}}</td>
        <td>{{user?.idNumber}}</td>
        <td>{{user?.companyId}}</td>
        <td>{{user?.roster}}</td>
        <td>{{user?.company}}</td>
       
      </tr>
    </table>
  </div>
