<a class="back"><i-feather name="chevron-left"></i-feather>back</a>
<div style="overflow-x:auto;" class="shadow-sm mt-3">
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Incorporation No.</th>
        <th>Industry</th>
      </tr>
      <tr>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
      </tr>
      <tr>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
      </tr>
    </table>
  </div>
